h1 Patients name is #{patients.name}

ul
	li
		doctors Surgeon: Dr. #{patients.doctor}
	li
		gender Gender: #{patients.gender}
	li
		id PatientID: #{patients.patientId}
	li
		pulse Pulse: #{patients.pulse}
	li
		oxygen Oxygen: #{patients.oxygen}
	li
		temperature Temperature: #{patients.temp}
	li
		fall Fall: #{patients.fall}
	li
		alarm Alarm: #{patients.Alarm} 

	